.totalCost {
    margin: 0 auto;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    padding: 1rem;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .totalCost {
        width: 90%;
    }
}
