.foodCardContainer {
    border: 1px solid var(--main-normal-color);
    box-shadow: 3px 5px 5px #ccc;
    border-radius: 30px;
    width: 300px;
}

.image {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.content {
    padding: 1rem;
    text-align: center;
}

.actionAndPrice {
    display: flex;
    justify-content: space-between;
}
