.navbar {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: var(--main-light-color);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: var(--main-dark-color);
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
}

.navbarLinkButton {
    border-radius: 30px;
    padding: 0.5rem 1rem;
    margin-top: 0.8rem;
    margin-right: 0.5rem;
}

.navbarLinkButton:hover {
    background-color: #ccc;
    box-shadow: 2px 1px 1px black;
}
