.container {
    margin: 1rem auto;
    width: 30%;
    border-radius: 30px;
    padding: 2rem 4rem;
    box-shadow: 1px 1px 20px #ccc;
}

.linkElement {
    margin-top: 1.5rem;
    display: block;
    text-align: center;
    color: blue;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 70%;
    }
}

.image {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

@media only screen and (max-width: 600px) {
    .image {
        width: 100px;
        height: 100px;
    }
}
